.cards {
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.cards div {
    margin: 1%;
    width: 350px;
    position: relative;
}

.cards div:hover {
    text-decoration: none;
    cursor : pointer;
}

.cards div .well:hover {
    border: 1px solid #00AA00;
}

.cards div h2:hover {
    cursor: text;
}

.cards div h2 button {
    display : none;
}

.cards div h2:hover button {
    display : inline-block;
    position : absolute;
    left : -40px;
}