api-list {
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

api-list a {
  margin: 1%;
  width: 350px;
}

api-list a:hover {
  text-decoration: none;
}

api-list a .well:hover {
  border: 1px solid #00AA00;
}

api-list .card{
    width: 350px;
    border: 1px solid gray;
    box-shadow: 1px 1px 3px #888;
    border-top: 10px solid #00AA00;
    border-radius:  4px;
    min-height: 250px;
    padding: 10px;
    margin: 10px;
}
